.container {
  width: 960px;
  margin: 0 auto;
}
.sidebar {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
}
.content {
  width: 660px;
  padding: 30px;
  border: 1px solid #ccc;
  float: left;
  box-sizing: border-box;
}
.container-c2 {
  width: 960px;
  margin: 0 auto;
  display: flex;
}
.sidebar-c2 {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  float: left;
}
.content-c2 {
  width: 660px;
  padding: 30px;
  border: 1px solid #ccc;
  float: left;
}